extends layout

include include/auth-input.pug

block append head
  script(src="/public/js/home.js" type="module" defer)
  link(rel="stylesheet" href="/public/css/auth.css")
  link(rel="stylesheet" href="/public/css/home.css")
  mixin img-bg(src, alt)
    img.img-bg(
    src=src,
    style=`background-image: path('${src}')`,
    alt=alt
    )&attributes(attributes)

block content
  .page
    .page-header
      .page-logo-icon
        img(src= "/public/logo.svg" alt='taskdragon' style='width:100px; height:100px;')

      .lisu
        a.link-to-other-form(href="/users/signup") Sign up for TaskDragon
        a.link-to-other-form(href="/users/login") Log in
    .jobtypeform
      form(id="jobtype-form")
        #errors-container
        .jobtypeform-header
          h2 Help when you need it, at thine fingertips
        .jobtypeform-dropdown
          +authInput("Task", "jobtype")
            select(name="jobTypeId" required)
              each jobType in jobTypes
                option(value=jobType.id)= jobType.name
        .jobtypeform-footer
          button(type="submit") See available taskers
  figure
  +img-bg(
    "/public/background.svg",
    "image"
  )
