extends layout

include include/auth-input.pug

block append head
  script(src="/public/js/home.js" type="module" defer)
  link(rel="stylesheet" href="/public/css/auth.css")
  mixin img-bg(src, alt)
    img.img-bg(
    src=src,
    style=`background-image: path('${src}')`,
    alt=alt
    )&attributes(attributes)

block content
  img(src= "/public/dragon.svg" alt='taskdragon' style='width:100px; height:100px;')
  h1 Welcome to Task Dragon
    a.link-to-other-form(href="/users/signup") Sign up for TaskDragon
    a.link-to-other-form(href="/users/login") Log in
    form(id="jobtype-form")
      #errors-container
      h2 Choose thy desired task
      +authInput("Task", "jobtype")
        select(name="jobTypeId" required)
          each jobType in jobTypes
            option(value=jobType.id)= jobType.name
      button(type="submit") See available taskers
  figure
  +img-bg(
    "/public/background.svg",
    "image"
  )
