extends layout

block append head
  div(id="dataDiv", data-job=userId)
  script(src="/public/js/jobs.js" type="module" defer)

block content
  h1(id="pageTitle")
  table
    thead#thead
      tr
        th#date Date
        th#TaskerName Tasker
        th#TaskerPrice Price (pence per day)
        th Details
    tbody#jobsTBody
