<!DOCTYPE html>
html(lang="en")
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            meta(property='og:title' content='TaskDragon')
            //- Idk if relative image links work
            meta(property='og:image' content='https://lh3.googleusercontent.com/i3TiuozETl3G9SU1O749RLSyT4iUBzoL5O4Hxmmpu8lv1k-qG6wDS-vamrNPXOP6QYOYMa2SsbTL2PYS7zjU5dTNHPP_5QLD8KJGslCKwgeJFD6ESIzPruM1Ypp_nsW4mXJbadsMww=w2400')
            meta(property='og:description' content="Receiveth help from thousands of trusted task'rs f'r ev'rything from weaving to contactless dragon slaying")
            meta(property='og:url' content='https://taskdragon2.herokuapp.com/home')
            title TaskDragon
            link(rel="icon" href="/public/dragon.svg" type="image/ico")
            <script src="https://kit.fontawesome.com/d8d4c87a5d.js" crossorigin="anonymous"></script>
    body
        block content
