extends layout

block append head
    //- script(src="/public/js/taskers.js" type="module" defer)
    link(rel="stylesheet" href="/public/css/register.css")

block content

    image(src="/public/background.svg", style="background-image: path('/public/background.svg')" class="background")
    div(id="mainDiv")
        div(id="logo")
            img(src= "/public/logo.svg" alt='taskdragon' style='width:300px; height:40px;')
        div(id="signUpDiv")
            a(href="/users/signup")
                button(class="signUpButton" class="formInput") Sign Up
        div(id="logInDiv")
            a(href="/users/login")
                button(class="logInButton" class="formInput") Log In

//- /public/background.svg
