<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title TaskDragon
        link(rel="icon" href="/public/dragon.svg" type="image/ico")
        link(rel="stylesheet" href="/public/css/register.css")
    body(style="overflow:hidden")
        image(src="/public/background.svg", style="background-image: path('/public/background.svg')" class="background")
        div(id="mainDiv")
            div(id="logo")
                a(href="/home")
                    img(src= "/public/logo.svg" alt='taskdragon' style='width:300px; height:40px;')
            div(id="signUpDiv")
                a(href="/users/signup")
                    button(class="signUpButton" class="formInput") Sign Up
            div(id="logInDiv")
                a(href="/users/login")
                    button(class="logInButton" class="formInput") Log In

//- /public/background.svg
