@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.page {
  position: relative;
}
.page-header-lisulo a {
  text-decoration: none;
  color: #438E29;
  padding: 0px 16px;
}
.page-header-lisulo span {
  text-decoration: none;
  color: #438E29;
  padding: 0px 16px;
  font-family: proxima_nova_rgregular;
}
.page-header-lisulo a span {
  font-family: proxima_nova_rgregular;
}
.page-header-lisulo a button span {
  font-family: proxima_nova_rgregular;
}
.page-header-lisulo a button  {
  color: rgb(81, 175, 51);
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(81, 175, 51);
  border-image: initial;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  font-size: 1rem;
}

.main-content {
  margin-left: auto;
  margin-right: auto;
  height: 495px;
  width: 100%;
  background: url(/public/dragonslayer.svg) no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.main-content-box {
  height: 300px;
  border-radius: 5px;
  width: 75%;
  background-color: white;
  text-align: center;
  font-family: proxima_nova_rgregular;
  font-size: 30px;
}

.main-content-box span {
  font-family: proxima_nova_rgregular;
  font-size: 14px;
}

.page-banner {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  height: 50px;
  padding: 2rem;
  text-align: center;
}

.banner-text span {
  font-family: proxima_nova_rgregular;
  font-weight: bold;
  font-size: 24px;

}

.sub-text span {
  font-family: proxima_nova_rgregular;
  font-weight: bold;
  font-size: 15px;
  color: rgb(81, 175, 51);

}



select {
  border-radius: 5px;
  background-color: white;
  font-family: proxima_nova_rgregular;
  font-size: 20px;
  color: rgb(81, 175, 51);
  text-align: center;
  height: 50px;
  width: 200px;
}


.jobtypeform-footer button {
  color: white;
  background-color:  rgb(81, 175, 51);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(81, 175, 51);
  border-image: initial;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  height: 50px;
}

button {
  border-radius: 5px;
  cursor: pointer;
}
.jobtypeform-footer button span {
  font-size: 20px;
}

#jobTypesContainer {
  font-family: proxima_nova_rgregular;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.jobType {
  border-radius: 5px;
  box-shadow: 0px 0px 10px 3px lightgray;
  background-color: white;
  border: 1px solid darkgray;
  margin: 20px;
  text-align: center;
  height: 200px;
}

form {
  display: inline-block;
}

.jobType a {
  margin-top: 50px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.jobType span {
  color: #438E29;
  font-size: 15px;
  padding-bottom: 50px;
  padding-top: 10px;
}

/* .jobType div {
  height: 100px;
  padding: 20px;
} */

.jobType img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 100%;
  height: 75px;
  align-self: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: lightgray;
}
.page-bottom {
  margin-top: 150px;
  font-family: proxima_nova_rgregular;
}

.jobtypeform-dropdown {
  display: inline-block;
  padding: 20px;

}
.jobtypeform-footer {
  display: inline-block;
}

.hidden {
  display: none;
}

.page-bottom h2 {
  margin-left: 160px;
  font-size: 32px;
}
