@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.page {
  position: relative;
}
.page-header-lisulo a {
  text-decoration: none;
  color: #438E29;
  padding: 0px 16px;
}
.page-header-lisulo a span {
  font-family: proxima_nova_rgregular;
}
.page-header-lisulo a button span {
  font-family: proxima_nova_rgregular;
}
.page-header-lisulo a button  {
  color: rgb(81, 175, 51);
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(81, 175, 51);
  border-image: initial;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  font-size: 1rem;
}

.main-content {
  margin-left: auto;
  margin-right: auto;
  height: 495px;
  width: 75%;
  background: url(/public/dragonslayer.svg) no-repeat;

}

.page-banner {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  height: 50px;
  padding: 2rem;
  text-align: center;
}

.banner-text span {
  font-family: proxima_nova_rgregular;
  font-weight: bold;
  font-size: 24px;

}

.sub-text span {
  font-family: proxima_nova_rgregular;
  font-weight: bold;
  font-size: 12px;
  color: rgb(81, 175, 51);

}
/* .page-header-lisulo-lo {
  display: none;
} */
