

#mainDiv {
    position: absolute;
    width: 50%;
    height: 40%;
    left: 25%;
    top: 30%;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid lightgray;

}

.background {
    background: url(images/bg.jpg) no-repeat center center fixed;
    /* background-size: cover; */
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
}

#logo {

}
