* {
    box-sizing: border-box;
}

#mainDiv {
    position: absolute;
    width: 50%;
    height: 40%;
    left: 25%;
    top: 30%;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-around;
    border-radius: 5px;
    border: 1px solid lightgray;

}

.background {
    background: url(images/bg.jpg) no-repeat center center fixed;
    /* background-size: cover; */
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
}

#logo {
    margin-top: 5%;
}

#logInDiv, #signUpDiv {
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
}

button {
    width: 50%;
    margin: 0% 25%;
    height: 50%;
}

#signUpButton {

}
