@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
    box-sizing: border-box;
    margin: none;
    padding: none;
    font-family: proxima_nova_rgregular;
}

.page-header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: flex-start;
    flex-wrap: wrap;
    border-bottom: 1px solid lightgray;
}

.page-header-lisulo a {
    text-decoration: none;
    color: #438E29;
    padding: 0px 16px;
}

.page-header-lisulo span {
    text-decoration: none;
    color: #438E29;
    padding: 0px 16px;
    font-family: proxima_nova_rgregular;
}

.page-header-lisulo a span {
    font-family: proxima_nova_rgregular;
}
.page-header-lisulo a button span {
    font-family: proxima_nova_rgregular;
}
.page-header-lisulo a button  {
    color: rgb(81, 175, 51);
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(81, 175, 51);
    border-image: initial;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
    font-size: 1rem;
}

.page-header-logo:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

body {
    background-color: #f9fafb;
}

#pageTitle{
    text-align: center;
}


#taskersContainer {
    border-radius: 5px;
    width: 80%;
    margin: auto;
}

.tasker {
    background-color: white;
    border: 1px solid darkgray;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.3);
}

.sort {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

#sort-button {
    width: 20%;
    font-size: 18px;
    padding: 5px;
}


.nameDiv {
    grid-area: nameDiv;
    font-size: 33px;
    font-weight: bold;
    margin: 0, auto;
    margin-left: 20px;
}

.skillDiv {
    grid-area: skillDiv;
    font-size: 28px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.buttonDiv {
    grid-area: buttonDiv;
}

.picDiv {
    grid-area: picDiv;
    display: flex;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: #f9fafb;
    margin-right: 5%;
}

.picDiv > img {
    height: 90%;
    width: fit-content;
    max-width: 90%;
}

.priceDiv {
    grid-area: priceDiv;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.tasker {
    display: grid;
    grid-template-rows: 75px 75px 50px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
    "picDiv nameDiv nameDiv priceDiv"
    "picDiv skillDiv skillDiv skillDiv"
    "buttonDiv buttonDiv buttonDiv buttonDiv"
}

.picture {
    margin: auto;
}

.create-job {
    width: 23.75%;
    height: 75%;
    border-radius: 5px;
    font-size: 18px;
    background-color: #34C419;
    color: white;
    margin-top: 1%;
    border: 1px solid black;
}

.create-job:hover {
    background-color: #269712;
    cursor: pointer;
}

.details {
    height: 90%;
    width: 90%;
    font-size: 18px;
    margin-top: 1%;
    padding-left: 2%;
}

.confirm {
    height: 90%;
    width: 10%;
    border-radius: 3px;
    font-size: 18px;
    margin-top: 1%;
    background-color: #34C419;
    color: white;
    border: 1px solid gray;
}

.confirm:hover {
    background-color: #269712;
    cursor: pointer;
}

#register button {
    border-radius: 5px;
}

#register button:hover {
    cursor: pointer;
    background-color: #F8F8F8;
}


/* Page Footer */

.page-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    font-family: proxima_nova_rgregular;
    border-top: 1px solid lightgray;
  }

  .page-footer h1 {
    font-size: 35px;
    margin: 20px;
    text-decoration: underline;
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0px;
    height: 30px;
    margin: 10px;
  }

  .icon:hover {
    color: #37C419;
    font-size: 35px;
  }

  .icons p {
    font-size: 25px;
  }

  .icon {
    padding: 0px 8px;
    font-size: 32px;
  }

  .icons a {
    text-decoration: none;
    color: black;
  }

  .copyright {
    font-size: 20px;
  }
